@use "../../scss/" as *;
.detail-container {
  width: 100%;
  height: 100vh;

  inset: 0;
  position: relative;
  .detail-event-background {
    height: 100%;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

    &-overlay-filter {
      &-content.active {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: all 0.3 ease;
      }
      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: all 0.3 ease;
        &-infomation.active {
          background-color: white;
          transition: all 0.3 ease;

          padding: 40px;
          height: 100%;
          width: 100%;
          border-radius: none !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          transition: all 0.3 ease;
        }
        &-infomation {
          background-color: white;
          transition: all 0.3 ease;
          padding: 20px 40px;
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .dexv2 {
            padding: 20px 40px;
            width: 100%;
            &-about {
              &-description {
                &-title {
                  text-align: center;
                  padding: 10px 0;
                  margin: 10px 0;
                  h5 {
                    font-size: 25px;
                  }
                }
                p {
                  font-size: 14px;
                  line-height: 1.5;
                  white-space: normal;
                }
                &-detailevent {
                  &-item {
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                  }
                  &-nonedata {
                    align-items: center;
                    width: 100%;
                  }
                }
                &-viewDetail {
                  width: 100%;
                  text-align: center;
                  span {
                    font-size: 40px;
                    cursor: pointer;
                  }
                }
              }
              &-field {
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                gap: 5px;
                p {
                  font-size: 12px;
                }
              }
            }
            h4 {
              color: #333;
              font-weight: 700;
              text-transform: uppercase;
              margin-bottom: 10px;
              margin-top: 0;
              font-size: 16px;
              padding: 10px 0;
              border-bottom: solid 1px #ccc;
            }
          }
          &-dexv1 {
            display: flex;
            gap: 20px;

            border-radius: 8px;
            justify-content: center;
            gap: 30px;
            background-color: white;

            padding: 20px 40px;
            transition: all 0.3 linear;

            &-peoples-participant {
              display: flex;
              align-items: center;
              gap: 1rem;
              justify-content: center;
              flex-direction: column;
              &-1 {
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                border: 6px solid $blue;
                border-top: 6px solid transparent !important;
                animation: loading2 1s infinite;
                @keyframes loading2 {
                  50% {
                    transform: rotate(-200deg);
                  }

                  75% {
                    transform: rotate(-160deg);
                  }

                  100% {
                    transform: rotate(-180deg);
                  }
                }
                &-2 {
                  width: 180px;
                  height: 180px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 100%;
                  border: 5px solid $pink;
                  border-left: 4px solid transparent !important;
                  animation: loading2 1s infinite;
                  @keyframes loading2 {
                    50% {
                      transform: rotate(-200deg);
                    }

                    75% {
                      transform: rotate(-160deg);
                    }

                    100% {
                      transform: rotate(-180deg);
                    }
                  }
                  &-3 {
                    width: 160px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 160px;
                    border-radius: 100%;
                    position: relative;
                    border: 4px solid $greenLight;
                    transition: all 0.3s ease;
                    border-right: 4px solid transparent !important;
                    animation: loading2 1s infinite;
                    @keyframes loading2 {
                      50% {
                        transform: rotate(-200deg);
                      }

                      75% {
                        transform: rotate(-160deg);
                      }

                      100% {
                        transform: rotate(-180deg);
                      }
                    }
                  }
                }
              }
            }

            &-text {
              max-width: 600px;
              min-width: 600px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              gap: 10px;

              h4 {
                margin-top: 1rem;
                font-size: 1.5rem;
              }
              span {
                color: black;
                align-items: center;
                display: flex;
                gap: 5px;
                font-size: 13px;
              }
              p {
                color: black;

                gap: 5px;
                font-size: 13px;
                span {
                  display: inline-block !important;
                  font-size: 12px;
                  margin: 0 3px;
                  text-decoration: underline;
                  color: $blue;
                  transition: all 0.3 ease;
                  cursor: pointer;
                  &:hover {
                    color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-overlay-filter {
      position: absolute;
      inset: 0;

      background-color: transparent;
    }
    a.detail-event-btn-back-home.active {
      background-color: black;
      color: white;
    }
    a.detail-event-btn-back-home {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      gap: 5px;
      transition: all 0.3s linear;
      color: white;
      border-radius: 100%;
      z-index: 10;
      padding: 3px;
      background-color: $grey-text;
      backdrop-filter: blur(10px);

      svg {
        font-size: 30px;
      }
    }
  }
}
