@use "../../scss/" as *;
.detail-container {
  width: 100%;
  height: 100vh;

  inset: 0;
  position: relative;
  .detail-event-background {
    position: relative;
    inset: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;

    &-overlay-filter {
      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        &-infomation {
          .calendar-image {
            width: 85px;
            z-index: 7;
            position: relative;
            border-radius: 2px;
            border: 1px solid #ccc;
          }
        }
      }
    }
    &-overlay-filter {
      position: absolute;
      inset: 0;

      background-color: transparent;
    }
    a.detail-event-btn-back-home {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      gap: 5px;
      transition: all 0.3s linear;
      color: white;
      border-radius: 100%;
      z-index: 10;
      padding: 3px;
      background-color: $grey-text;
      backdrop-filter: blur(10px);

      svg {
        font-size: 30px;
      }
    }
  }
}
