@use "../../scss/" as *;
.section-add-event {
  background-color: $green-core;
  max-width: 100%;
  min-height: 100%;

  padding: 40px;
  form {
    margin: 0 auto;
    max-width: 800px;
    border-radius: 8px;
    .box-textarea {
      width: 100%;
      label {
        font-size: 13px;
      }
      textarea {
        width: 100%;
        min-height: 150px;
        padding: 13px 15px;
        background-color: #eee;
        border: none;
        outline: none;
      }
    }
    .box-input {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      button {
        display: block;
        margin: 0 auto;
        color: #fff;
        margin-top: 20px;
        padding: 12px 20px;
        border: none;
        outline: none;
        background-color: $green-core;
        border-radius: 8px;
      }
      .box-x-input {
        label {
          font-size: 13px;
        }
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
          width: 300px;
          outline: none;
          border: none;
          padding: 13px 15px;
          background-color: #eee;
        }
      }
    }
  }
}
