$main-bg: #f5f7fc;
$background-after: #2dc275;
$green-core: #2dc275;
$background-before: #f5f7fc;
$border-radius: 20px;
$txt-black: black;
$txt-white: white;
$header-height: 6rem;

$header-padding: 30px;
$header-padding-shrink: 30px;
$header-padding-mobile: 5px;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: "Poppins", sans-serif;
$hover: #ff0000;
