$main-bg: #f5f7fc;
$background-after: #2dc275;
$green-core: #2dc275;
$background-before: #f5f7fc;
$border-radius: 20px;
$txt-black: black;
$txt-white: white;
$header-height: 6rem;
$black-text: black;
$grey-text: #bdc3c7;
$pink: #d16ba5;
$blue: #86a8e7;
$greenLight: #5ffbf1;
$gradient: linear-gradient(
  to right top,
  #d16ba5,
  #c777b9,
  #ba83ca,
  #aa8fd8,
  #9a9ae1,
  #8aa7ec,
  #79b3f4,
  #69bff8,
  #52cffe,
  #41dfff,
  #46eefa,
  #5ffbf1
);
$header-padding: 30px;
$header-padding-shrink: 30px;
$header-padding-mobile: 5px;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: "Poppins", sans-serif;
$hover: #999;
