.home {
  padding: 15px;
}

.cardbox-row-grid {
  width: 100%;
  display: flex;
  flex: 1;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
}
