.home {
  padding: 15px;
}
.cardbox-row {
  width: 100%;
  &-slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 0 !important;
  }
}
.cardbox-row-grid {
  width: 100%;
  display: flex;
  flex: 1;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
}
